@import url(https://fonts.googleapis.com/css?family=Pirata+One);

body {
  background: url(bg.jpg) center center/cover no-repeat fixed;
  background-color: salmon;
  font-family:'Pirata One';
}

/*.overlay {*/
/*  margin: 0 auto;*/
/*  position: absolute;*/
/*  top: 50px;*/
/*  left: 50px;*/
/*  bottom:50px;*/
/*  right:50px;*/
/*  width: 80%;*/
/*  height: 80%;*/
/*  background: url("overlay.jpg") center center/cover no-repeat;*/

/*}*/